<div class="container mt-3">
  <h1>Create a new list</h1>

  <%= simple_form_for (@list) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create List", class: "btn btn-primary" %>
  <% end %>

  <p class="mt-3 btn btn-light"><%= link_to "Back to List list", lists_path %></p>
</div>
